flows/Work_Order_Component_Table.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>translateLotsToString</name>
        <label>translateLotsToString</label>
        <locationX>1237</locationX>
        <locationY>698</locationY>
        <actionName>translateApexDefinedLotRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Update_Lots</targetReference>
        </connector>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>lotWrapperCollection</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>translateStringToCollection</name>
        <label>translateStringToCollection</label>
        <locationX>1237</locationX>
        <locationY>429</locationY>
        <actionName>translateApexDefinedLotRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>clearVariables</targetReference>
        </connector>
        <inputParameters>
            <name>inputString</name>
            <value>
                <elementReference>outputEditedLotRows</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>selectedRowsLotWrapper</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>addToWrapperCollection</name>
        <label>addToWrapperCollection</label>
        <locationX>1158</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>lotWrapperCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lotWrapper</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLots</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignLottoWrapper</name>
        <label>assignLottoWrapper</label>
        <locationX>1004</locationX>
        <locationY>840</locationY>
        <assignmentItems>
            <assignToReference>lotWrapper.LotNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLots.rstk__icitemlot_lotno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lotWrapper.QtyOH</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLots.rstk__icitemlot_qtyoh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lotWrapper.onHold</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLots.rstk__icitemlot_onhold__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lotWrapper.dateLotAdded</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLots.rstk__icitemlot_datelotadded__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lotWrapper.age</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLots.Days_Since_Lot_Added__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lotWrapper.lotId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopLots.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToWrapperCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>clearVariables</name>
        <label>clearVariables</label>
        <locationX>812</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>lotWrapperCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loopLotAssignComponents</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>incrementLoop</name>
        <label>incrementLoop</label>
        <locationX>595</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>currentRecordCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getAvailableLotsPerComponent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>numberOfLots</name>
        <label>numberOfLots</label>
        <locationX>862</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>numberOfLotsForItem</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getAvailableLotsPerComponent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopLots</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Button_was_pressed</name>
        <label>Which Button was pressed?</label>
        <locationX>168</locationX>
        <locationY>598</locationY>
        <defaultConnector>
            <targetReference>componentTableScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No button pressed</defaultConnectorLabel>
        <rules>
            <name>Assign_Lot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonAssingLots.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopLotAssignComponents</targetReference>
            </connector>
            <label>Assign Lot</label>
        </rules>
        <rules>
            <name>Issue_Components</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>buttonIssue.Clicked</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Issue Components</label>
        </rules>
    </decisions>
    <description>Table of Work Order Components that allows interaction</description>
    <dynamicChoiceSets>
        <name>availableLots</name>
        <dataType>String</dataType>
        <displayField>rstk__icitemlot_lotno__c</displayField>
        <filters>
            <field>rstk__icitemlot_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopLotAssignComponents.rstk__woorddmd_compitem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__icitemlot_qtyoh__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rstk__icitemlot_onhold__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>rstk__icitemlot__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Work Order Component Table {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Component Table</label>
    <loops>
        <description>Iterate over the selected components, and allow to assign lot(s) to each</description>
        <name>loopLotAssignComponents</name>
        <label>loopLotAssignComponents</label>
        <locationX>411</locationX>
        <locationY>596</locationY>
        <collectionReference>selectedComponents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>incrementLoop</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopLots</name>
        <label>loopLots</label>
        <locationX>1002</locationX>
        <locationY>705</locationY>
        <collectionReference>getAvailableLotsPerComponent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignLottoWrapper</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>translateLotsToString</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAvailableLotsPerComponent</name>
        <label>getAvailableLotsPerComponent</label>
        <locationX>734</locationX>
        <locationY>705</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>numberOfLots</targetReference>
        </connector>
        <filters>
            <field>rstk__icitemlot_item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopLotAssignComponents.rstk__woorddmd_compitem__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>rstk__icitemlot_qtyoh__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>rstk__icitemlot_onhold__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>rstk__icitemlot_div__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopLotAssignComponents.rstk__woorddmd_ordno__r.rstk__wocst_div__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__icitemlot__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get the component for the work order id passed into this flow</description>
        <name>getComponents</name>
        <label>getComponents</label>
        <locationX>176</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>componentTableScreen</targetReference>
        </connector>
        <filters>
            <field>rstk__woorddmd_ordno__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>rstk__woorddmd__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Assign_Update_Lots</name>
        <label>Assign/Update Lots</label>
        <locationX>1238</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>translateStringToCollection</targetReference>
        </connector>
        <fields>
            <name>textLots</name>
            <fieldText>&lt;p&gt;Assign Lots for Item&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!currentRecordCount} &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;of  &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!countSelectedRows}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Component Item: &lt;b&gt;{!loopLotAssignComponents.rstk__woorddmd_compitem__r.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Required Qty: &lt;b&gt;{!loopLotAssignComponents.rstk__woorddmd_qtyreq__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>lotWrappers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>rstk__icitemlot__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isUserDefinedObject</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableDataString</name>
                <value>
                    <elementReference>translateLotsToString.outputString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>LotNumber, QtyOH, onHold, dateLotAdded, age, qtyToAssign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>qtyToAssign:true, LotNumber:true, age:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnTypes</name>
                <value>
                    <stringValue>LotNumber:text, QtyOH:number, onHold:boolean, dateLotAdded:date, age:number, qtyToAssign:number</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>LotNumber:&quot;Lot Number&quot;, QtyOH:&quot;Qty On-hand&quot;, onHold:&quot;On hold&quot;, dateLotAdded:&quot;Date lot added&quot;, age:&quot;Age&quot;, qtyToAssign:&quot;Qty to Assign&quot;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnScales</name>
                <value>
                    <stringValue>qtyToAssign:0,QtyOH:2, age:0</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressBottomBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>suppressNameFieldLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>keyField</name>
                <value>
                    <stringValue>LotId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>outputEditedLotRows</assignToReference>
                <name>outputEditedRowsString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>outputSelectedLotRows</assignToReference>
                <name>outputSelectedRowsString</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numberOfLotsForItem</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>noLotsAvaialble</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(189, 20, 20);&quot;&gt;There are no available lots found for this item where the lot is not on hold and has a quantity on-hand bigger than zero.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numberOfLotsForItem</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>componentTableScreen</name>
        <label>componentTableScreen</label>
        <locationX>176</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Button_was_pressed</targetReference>
        </connector>
        <fields>
            <name>componentTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>rstk__woorddmd__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatableV2</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,rstk__woorddmd_qtyreq__c, rstk__woorddmd_qtyiss__c,rstk__formula_qtyshort__c, Qty_picked__c, Waste_WO_Qty__c, Item_Lot_Revision__c, Assigned_Lot_On_Hold__c, Waste_Work_Order__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getComponents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>rstk__woorddmd_qtyreq__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isConfigMode</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnScales</name>
                <value>
                    <stringValue>rstk__woorddmd_qtyreq__c:2, rstk__woorddmd_qtyiss__c:2,rstk__formula_qtyshort__c:2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedComponents</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>countSelectedRows</assignToReference>
                <name>numberOfRowsSelected</name>
            </outputParameters>
        </fields>
        <fields>
            <name>buttonAssingLots</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Assign/Update Lot</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Clicked</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>EditRecord</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>Right</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>buttonIssue</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Label</name>
                <value>
                    <stringValue>Issue Components</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>FlowAction</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>destructive-text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonPosition</name>
                <value>
                    <stringValue>Left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Issue_Components_Screen</name>
        <label>Issue Components Screen</label>
        <locationX>328</locationX>
        <locationY>1040</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>componentText</name>
            <fieldText>&lt;p&gt;Issue Components&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getComponents</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The number of rows selected on the component table</description>
        <name>countSelectedRows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>lotWrapper</name>
        <apexClass>lotAssignmentWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lotWrapperCollection</name>
        <apexClass>lotAssignmentWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>numberOfLotsForItem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>outputEditedLotRows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputSelectedLotRows</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedComponents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>rstk__woorddmd__c</objectType>
    </variables>
    <variables>
        <name>selectedRowsLotWrapper</name>
        <apexClass>lotAssignmentWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
